@charset "ISO-8859-1";
@import "https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,700i";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700"; 
@import"https://fonts.googleapis.com/css?family=Roboto+Slab:400,700";
body{

	margin: 0px;
	}

header{
		background: #3d4859;
		color: white;
		padding: 8px 0px 6px 40px;
		height: 45px;
}
header h1{
	display: inline;
	font-family: 'IBM Plex Serif', serif;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;

}
nav ul{
	display: inline;
	padding: 0px;
	float: left;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 12px; 
}
nav ul li a{
	color: white;
	text-decoration: none;
}

.divider{
	background-color: #11033d;
	height: 5px;
	margin: 0;
	padding: 0;

}
#nav{
	font-family: 'Montserrat', sans-serif;
}

.hred{
	background-color: #11033d;
	padding: 30px 10px 17px 10px;
}
.log{
	background-color: #11033d;
	padding: 30px 10px 17px 10px;
}
.log:hover{
	background-color: #11033d;
	padding: 30px 10px 17px 10px;
}
.uname{
	margin: 45px 40px 45px 40px;
}
.pass{
	margin: 45px 40px 45px 40px;
}
.fset{
	margin: 45px 30px 45px 30px;
}
.sign{
		font-family: 'Montserrat', sans-serif;
}
.sign:hover{
	background-color: #11033d;
	padding: 30px 10px 17px 10px;
}
.hb:hover {
	background-color: #11033d;
	padding: 30px 10px 17px 10px;
}
.login{
	margin-left: 45%;
	background-size: 10px;
	font-weight: bold;
}
.login:hover{
	background-color: #1f0d47;
	color: white;
}
footer{
	background-color: #3d4859;
	color: white;
	text-align: center;
	padding-bottom: 18px;
}
